node-red/flows.json
[
    {
        "id": "7e9fdc799c9dacda",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32b0ac61c667424c",
        "type": "subflow",
        "name": "influx to value",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "d1dad6d5c2f7d87a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 60,
                "wires": [
                    {
                        "id": "d1dad6d5c2f7d87a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 590,
                "y": 120,
                "wires": [
                    {
                        "id": "81231df7e767f2b3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "message",
            "value",
            "",
            ""
        ]
    },
    {
        "id": "95cd6ea4aaaa788f",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "demo",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "06b0f110fe273b8e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3c614c9634e5fe0a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "110bee8780e3a7ad",
        "type": "ui_group",
        "name": "MIA FMS",
        "tab": "06b0f110fe273b8e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1dad6d5c2f7d87a",
        "type": "change",
        "z": "32b0ac61c667424c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload[\"_value\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "field",
                "pt": "msg",
                "to": "payload[\"_field\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "vin",
                "pt": "msg",
                "to": "payload[\"vin\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "81231df7e767f2b3"
            ]
        ]
    },
    {
        "id": "81231df7e767f2b3",
        "type": "change",
        "z": "32b0ac61c667424c",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1d204ff02f421001",
        "type": "influxdb in",
        "z": "7e9fdc799c9dacda",
        "influxdb": "95cd6ea4aaaa788f",
        "name": "Vehicle InfluxDB",
        "query": "from(bucket: \"demo\")\n    |> range(start: -1h)\n    |> last()\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "sdv",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "df5f505cbeaf94c0",
                "eb77e9998c52fba8"
            ]
        ]
    },
    {
        "id": "e77bfa13c9f824f4",
        "type": "debug",
        "z": "7e9fdc799c9dacda",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ced8655d5a5e9a9",
        "type": "inject",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "1d204ff02f421001"
            ]
        ]
    },
    {
        "id": "df5f505cbeaf94c0",
        "type": "function",
        "z": "7e9fdc799c9dacda",
        "name": "function 1",
        "func": "const data = msg.payload.map( e => {\n    return e[\"_field\"]\n    \n});\n\n// msg.payload = data\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 60,
        "wires": [
            [
                "e77bfa13c9f824f4"
            ]
        ]
    },
    {
        "id": "c9ce3d7308038b53",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "ambientAirTemperature",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ambientAirTemperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "06ad9941f172082f"
            ]
        ]
    },
    {
        "id": "eb77e9998c52fba8",
        "type": "split",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "c9ce3d7308038b53",
                "45337ee5c1d39d5b",
                "65181b198631cfaa",
                "7e7e782b6314fde4"
            ]
        ]
    },
    {
        "id": "b7f422d49af26639",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ambientAirTemperature",
        "label": "degrees",
        "format": "{{value}}",
        "min": "-20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 380,
        "wires": []
    },
    {
        "id": "45337ee5c1d39d5b",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "engineSpeed",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "engineSpeed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "fb3f2a187d48ef95"
            ]
        ]
    },
    {
        "id": "65181b198631cfaa",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "fuelLevel1",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "fuelLevel1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "517d345c89050cf9"
            ]
        ]
    },
    {
        "id": "ead0071740eb34eb",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "engineSpeed",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "6000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "81d835ed5de68b9d",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "fuelLevel1",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 520,
        "wires": []
    },
    {
        "id": "7e7e782b6314fde4",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "totalEngineHours",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "totalEngineHours",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 600,
        "wires": [
            [
                "db0ce46ef27c4794"
            ]
        ]
    },
    {
        "id": "1962d05c53b3194e",
        "type": "ui_text",
        "z": "7e9fdc799c9dacda",
        "group": "110bee8780e3a7ad",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "totalEngineHours",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 600,
        "wires": []
    },
    {
        "id": "fb3f2a187d48ef95",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 790,
        "y": 460,
        "wires": [
            [],
            [
                "ead0071740eb34eb"
            ]
        ]
    },
    {
        "id": "db0ce46ef27c4794",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 790,
        "y": 600,
        "wires": [
            [],
            [
                "1962d05c53b3194e"
            ]
        ]
    },
    {
        "id": "517d345c89050cf9",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 790,
        "y": 520,
        "wires": [
            [],
            [
                "81d835ed5de68b9d"
            ]
        ]
    },
    {
        "id": "06ad9941f172082f",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 790,
        "y": 380,
        "wires": [
            [],
            [
                "b7f422d49af26639"
            ]
        ]
    }
]