node-red/flows.json
[
    {
        "id": "2889273e53d6a5ed",
        "type": "tab",
        "label": "Initialization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e9fdc799c9dacda",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32b0ac61c667424c",
        "type": "subflow",
        "name": "influx to value",
        "info": "",
        "category": "SDV",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "d1dad6d5c2f7d87a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 60,
                "wires": [
                    {
                        "id": "d1dad6d5c2f7d87a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 590,
                "y": 120,
                "wires": [
                    {
                        "id": "81231df7e767f2b3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "license": "Apache-2.0"
        },
        "color": "#DDAA99",
        "outputLabels": [
            "message",
            "value"
        ]
    },
    {
        "id": "d4b0bd7f01e6e982",
        "type": "subflow",
        "name": "select signal",
        "info": "",
        "category": "SDV",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "4d50901bd23ed524"
                    },
                    {
                        "id": "55e70c455d920385"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 710,
                "y": 60,
                "wires": [
                    {
                        "id": "09044a59f8898114",
                        "port": 0
                    }
                ]
            },
            {
                "x": 710,
                "y": 120,
                "wires": [
                    {
                        "id": "09044a59f8898114",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "signal_name",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {
            "license": "Apache-2.0"
        },
        "color": "#DDAA99",
        "outputLabels": [
            "msg",
            "value"
        ],
        "status": {
            "x": 740,
            "y": 180,
            "wires": [
                {
                    "id": "4d50901bd23ed524",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "95cd6ea4aaaa788f",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "demo",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "06b0f110fe273b8e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3c614c9634e5fe0a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "110bee8780e3a7ad",
        "type": "ui_group",
        "name": "MIA FMS",
        "tab": "06b0f110fe273b8e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1dad6d5c2f7d87a",
        "type": "change",
        "z": "32b0ac61c667424c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload[\"_value\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "field",
                "pt": "msg",
                "to": "payload[\"_field\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "vin",
                "pt": "msg",
                "to": "payload[\"vin\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "81231df7e767f2b3"
            ]
        ]
    },
    {
        "id": "81231df7e767f2b3",
        "type": "change",
        "z": "32b0ac61c667424c",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "55e70c455d920385",
        "type": "switch",
        "z": "d4b0bd7f01e6e982",
        "name": "current_signal_name",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "current_signal_name",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "09044a59f8898114"
            ]
        ]
    },
    {
        "id": "09044a59f8898114",
        "type": "subflow:32b0ac61c667424c",
        "z": "d4b0bd7f01e6e982",
        "name": "",
        "x": 480,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4d50901bd23ed524",
        "type": "function",
        "z": "d4b0bd7f01e6e982",
        "name": "update signal name",
        "func": "const signal_name = env.get(\"signal_name\")\n\nif (signal_name !== flow.get(\"current_signal_name\")) {\n    flow.set(\"current_signal_name\", signal_name)\n    const signals_list = context.global.get(\"signal_names_list\")\n    signals_list.add(signal_name)\n    context.global.set(\"signal_names_list\", signals_list)\n}\n\nmsg.payload = {text: signal_name}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "const signal_name = env.get(\"signal_name\")\nflow.set(\"current_signal_name\", signal_name)\n\nlet signals_list = context.global.get(\"signal_names_list\")\nif (!signals_list) {\n    signals_list = new Set()\n}\nsignals_list.add(signal_name)\ncontext.global.set(\"signal_names_list\")\n",
        "finalize": "const signal_name = env.get(\"signal_name\")\nconst signals_list = context.global.get(\"signal_names_list\")\nsignals_list.delete(signal_name)\ncontext.global.set(\"signal_names_list\", signals_list)\n",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "21b88d93e549f913",
        "type": "inject",
        "z": "d4b0bd7f01e6e982",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "4d50901bd23ed524"
            ]
        ]
    },
    {
        "id": "d981842589f74e1d",
        "type": "influxdb in",
        "z": "2889273e53d6a5ed",
        "influxdb": "95cd6ea4aaaa788f",
        "name": "Vehicle InfluxDB",
        "query": "from(bucket: \"demo\")\n    |> range(start: -1h)\n    |> last()\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "sdv",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "3b25e6c277cb1ba7",
                "45ec95ec9cc925e7"
            ]
        ]
    },
    {
        "id": "77c6640c083dd78d",
        "type": "debug",
        "z": "2889273e53d6a5ed",
        "name": "debug influx",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "35dbc73ad43892e4",
        "type": "inject",
        "z": "2889273e53d6a5ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "d981842589f74e1d"
            ]
        ]
    },
    {
        "id": "3b25e6c277cb1ba7",
        "type": "function",
        "z": "2889273e53d6a5ed",
        "name": "debug data",
        "func": "const data = msg.payload.map( e => {\n    return e[\"_field\"]\n    \n});\n\n// msg.payload = data\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "77c6640c083dd78d"
            ]
        ]
    },
    {
        "id": "45ec95ec9cc925e7",
        "type": "split",
        "z": "2889273e53d6a5ed",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "2c163ea721113b9c"
            ]
        ]
    },
    {
        "id": "2c163ea721113b9c",
        "type": "link out",
        "z": "2889273e53d6a5ed",
        "name": "influx data",
        "mode": "link",
        "links": [
            "5d76169c79019f45"
        ],
        "x": 575,
        "y": 60,
        "wires": []
    },
    {
        "id": "405a2ace947a3dc4",
        "type": "inject",
        "z": "2889273e53d6a5ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "31bbfc5dd71e6373"
            ]
        ]
    },
    {
        "id": "31bbfc5dd71e6373",
        "type": "function",
        "z": "2889273e53d6a5ed",
        "name": "init",
        "func": "global.set(\"signal_names_list\", new Set())\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c9ce3d7308038b53",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "ambientAirTemperature",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ambientAirTemperature",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "06ad9941f172082f"
            ]
        ]
    },
    {
        "id": "b7f422d49af26639",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ambientAirTemperature",
        "label": "degrees",
        "format": "{{value}}",
        "min": "-20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 240,
        "wires": []
    },
    {
        "id": "45337ee5c1d39d5b",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "engineSpeed",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "engineSpeed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "fb3f2a187d48ef95"
            ]
        ]
    },
    {
        "id": "65181b198631cfaa",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "fuelLevel1",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "fuelLevel1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "517d345c89050cf9"
            ]
        ]
    },
    {
        "id": "ead0071740eb34eb",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "engineSpeed",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "6000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "81d835ed5de68b9d",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "fuelLevel1",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "7e7e782b6314fde4",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "totalEngineHours",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "totalEngineHours",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "db0ce46ef27c4794"
            ]
        ]
    },
    {
        "id": "1962d05c53b3194e",
        "type": "ui_text",
        "z": "7e9fdc799c9dacda",
        "group": "110bee8780e3a7ad",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "totalEngineHours",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "fb3f2a187d48ef95",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 760,
        "y": 380,
        "wires": [
            [],
            [
                "ead0071740eb34eb"
            ]
        ]
    },
    {
        "id": "db0ce46ef27c4794",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 760,
        "y": 520,
        "wires": [
            [],
            [
                "1962d05c53b3194e"
            ]
        ]
    },
    {
        "id": "517d345c89050cf9",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 760,
        "y": 440,
        "wires": [
            [],
            [
                "81d835ed5de68b9d"
            ]
        ]
    },
    {
        "id": "06ad9941f172082f",
        "type": "subflow:32b0ac61c667424c",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 760,
        "y": 300,
        "wires": [
            [],
            [
                "b7f422d49af26639"
            ]
        ]
    },
    {
        "id": "5d76169c79019f45",
        "type": "link in",
        "z": "7e9fdc799c9dacda",
        "name": "data source",
        "links": [
            "2c163ea721113b9c"
        ],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "c9ce3d7308038b53",
                "45337ee5c1d39d5b",
                "65181b198631cfaa",
                "7e7e782b6314fde4",
                "01b63d24ec6b8c94",
                "18527e9c1c8e2378",
                "7d5fb43b377a3519",
                "c9cdc2cd989e8c43"
            ]
        ]
    },
    {
        "id": "9c20e25293e10dd5",
        "type": "debug",
        "z": "7e9fdc799c9dacda",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "01b63d24ec6b8c94",
        "type": "subflow:d4b0bd7f01e6e982",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "env": [
            {
                "name": "signal_name",
                "value": "ambientAirTemperature",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 40,
        "wires": [
            [],
            [
                "9c20e25293e10dd5"
            ]
        ]
    },
    {
        "id": "18527e9c1c8e2378",
        "type": "subflow:d4b0bd7f01e6e982",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "env": [
            {
                "name": "signal_name",
                "value": "engineSpeed",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 100,
        "wires": [
            [],
            [
                "9c20e25293e10dd5"
            ]
        ]
    },
    {
        "id": "7d5fb43b377a3519",
        "type": "subflow:d4b0bd7f01e6e982",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "env": [
            {
                "name": "signal_name",
                "value": "fuelLevel1",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 160,
        "wires": [
            [],
            [
                "9c20e25293e10dd5"
            ]
        ]
    },
    {
        "id": "c9cdc2cd989e8c43",
        "type": "subflow:d4b0bd7f01e6e982",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "env": [
            {
                "name": "signal_name",
                "value": "totalEngineHours",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 220,
        "wires": [
            [],
            [
                "9c20e25293e10dd5"
            ]
        ]
    }
]