node-red/flows.json
[
    {
        "id": "2889273e53d6a5ed",
        "type": "tab",
        "label": "Initialization/Connections",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e9fdc799c9dacda",
        "type": "tab",
        "label": "Demo Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32b0ac61c667424c",
        "type": "subflow",
        "name": "influx to value",
        "info": "",
        "category": "SDV",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "d1dad6d5c2f7d87a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 60,
                "wires": [
                    {
                        "id": "d1dad6d5c2f7d87a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 590,
                "y": 120,
                "wires": [
                    {
                        "id": "81231df7e767f2b3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "license": "Apache-2.0"
        },
        "color": "#DDAA99",
        "outputLabels": [
            "message",
            "value"
        ]
    },
    {
        "id": "d4b0bd7f01e6e982",
        "type": "subflow",
        "name": "select signal",
        "info": "",
        "category": "SDV",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "4d50901bd23ed524"
                    },
                    {
                        "id": "55e70c455d920385"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 710,
                "y": 60,
                "wires": [
                    {
                        "id": "09044a59f8898114",
                        "port": 0
                    }
                ]
            },
            {
                "x": 710,
                "y": 120,
                "wires": [
                    {
                        "id": "09044a59f8898114",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "signal_name",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {
            "license": "Apache-2.0"
        },
        "color": "#DDAA99",
        "outputLabels": [
            "msg",
            "value"
        ],
        "status": {
            "x": 740,
            "y": 180,
            "wires": [
                {
                    "id": "4d50901bd23ed524",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "eb90e6c0557be894",
        "type": "subflow",
        "name": "update vehicle",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "84d8e7a18ece888f",
        "type": "subflow",
        "name": "filter VIN",
        "info": "",
        "category": "SDV",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "a18f783849d9cc2e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 280,
                "y": 60,
                "wires": [
                    {
                        "id": "a18f783849d9cc2e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "license": "Apache-2.0"
        },
        "color": "#DDAA99"
    },
    {
        "id": "95cd6ea4aaaa788f",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "demo",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "06b0f110fe273b8e",
        "type": "ui_tab",
        "name": "Configuration Output",
        "icon": "fa-cogs",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3c614c9634e5fe0a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "MIA Fleet Management",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "110bee8780e3a7ad",
        "type": "ui_group",
        "name": "Vehicle Status",
        "tab": "270491e1f8bfa2c5",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "161c98944e5c5a4a",
        "type": "ui_group",
        "name": "Signals",
        "tab": "06b0f110fe273b8e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "270491e1f8bfa2c5",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3b75a4adca8ebd82",
        "type": "ui_tab",
        "name": "Raw Data",
        "icon": "fa-database",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04b87adf505a67f6",
        "type": "ui_group",
        "name": "Data",
        "tab": "3b75a4adca8ebd82",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e751f93fa563c263",
        "type": "ui_spacer",
        "z": "7e9fdc799c9dacda",
        "name": "spacer",
        "group": "110bee8780e3a7ad",
        "order": 4,
        "width": "12",
        "height": "1"
    },
    {
        "id": "d35a56c559d674f0",
        "type": "ui_spacer",
        "z": "7e9fdc799c9dacda",
        "name": "spacer",
        "group": "110bee8780e3a7ad",
        "order": 7,
        "width": "12",
        "height": "1"
    },
    {
        "id": "32b4e67717ae65c1",
        "type": "ui_spacer",
        "z": "7e9fdc799c9dacda",
        "name": "spacer",
        "group": "110bee8780e3a7ad",
        "order": 1,
        "width": "12",
        "height": "1"
    },
    {
        "id": "d1dad6d5c2f7d87a",
        "type": "change",
        "z": "32b0ac61c667424c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload[\"_value\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "field",
                "pt": "msg",
                "to": "payload[\"_field\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "vin",
                "pt": "msg",
                "to": "payload[\"vin\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "81231df7e767f2b3"
            ]
        ]
    },
    {
        "id": "81231df7e767f2b3",
        "type": "change",
        "z": "32b0ac61c667424c",
        "name": "value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "vin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "55e70c455d920385",
        "type": "switch",
        "z": "d4b0bd7f01e6e982",
        "name": "current_signal_name",
        "property": "payload[\"_field\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "current_signal_name",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "09044a59f8898114"
            ]
        ]
    },
    {
        "id": "09044a59f8898114",
        "type": "subflow:32b0ac61c667424c",
        "z": "d4b0bd7f01e6e982",
        "name": "",
        "x": 480,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4d50901bd23ed524",
        "type": "function",
        "z": "d4b0bd7f01e6e982",
        "name": "update signal name",
        "func": "const signal_name = env.get(\"signal_name\")\n\nif (signal_name !== flow.get(\"current_signal_name\")) {\n    flow.set(\"current_signal_name\", signal_name)\n\n    const signals_list = new Set(global.get(\"signal_names_list\"))\n    signals_list.add(signal_name)\n    global.set(\"signal_names_list\", Array.from(signals_list))\n}\n\nmsg.payload = {text: signal_name}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "const signal_name = env.get(\"signal_name\")\nflow.set(\"current_signal_name\", signal_name)\n\nlet signals_list = new Set(global.get(\"signal_names_list\") ?? [])\nsignals_list.add(signal_name)\nglobal.set(\"signal_names_list\", Array.from(signals_list))\n",
        "finalize": "const signal_name = env.get(\"signal_name\")\nconst signals_list = new Set(global.get(\"signal_names_list\"))\nsignals_list.delete(signal_name)\nglobal.set(\"signal_names_list\", Array.from(signals_list))\n",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "21b88d93e549f913",
        "type": "inject",
        "z": "d4b0bd7f01e6e982",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "4d50901bd23ed524"
            ]
        ]
    },
    {
        "id": "a18f783849d9cc2e",
        "type": "switch",
        "z": "84d8e7a18ece888f",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "selected_vin",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d981842589f74e1d",
        "type": "influxdb in",
        "z": "2889273e53d6a5ed",
        "influxdb": "95cd6ea4aaaa788f",
        "name": "Vehicle InfluxDB",
        "query": "from(bucket: \"demo\")\n    |> range(start: -1h)\n    |> last()\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "sdv",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "3b25e6c277cb1ba7",
                "45ec95ec9cc925e7"
            ]
        ]
    },
    {
        "id": "77c6640c083dd78d",
        "type": "debug",
        "z": "2889273e53d6a5ed",
        "name": "debug influx",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "35dbc73ad43892e4",
        "type": "inject",
        "z": "2889273e53d6a5ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "d981842589f74e1d"
            ]
        ]
    },
    {
        "id": "3b25e6c277cb1ba7",
        "type": "function",
        "z": "2889273e53d6a5ed",
        "name": "debug data",
        "func": "const data = msg.payload.map( e => {\n    return e[\"_field\"]\n    \n});\n\n// msg.payload = data\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 200,
        "wires": [
            [
                "77c6640c083dd78d"
            ]
        ]
    },
    {
        "id": "45ec95ec9cc925e7",
        "type": "split",
        "z": "2889273e53d6a5ed",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "2c163ea721113b9c",
                "4ed496bdbfc34268"
            ]
        ]
    },
    {
        "id": "2c163ea721113b9c",
        "type": "link out",
        "z": "2889273e53d6a5ed",
        "name": "influx data",
        "mode": "link",
        "links": [
            "5d76169c79019f45"
        ],
        "x": 575,
        "y": 60,
        "wires": []
    },
    {
        "id": "405a2ace947a3dc4",
        "type": "inject",
        "z": "2889273e53d6a5ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "INFLUXDB_TOKEN",
        "payloadType": "env",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "31bbfc5dd71e6373"
            ]
        ]
    },
    {
        "id": "31bbfc5dd71e6373",
        "type": "function",
        "z": "2889273e53d6a5ed",
        "name": "init",
        "func": "global.get(\"signal_names_list\") ?? global.set(\"signal_names_list\", [])\nglobal.set(\"influxdb_token\", msg.payload)\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a7eb0e65dfad37d9",
        "type": "inject",
        "z": "2889273e53d6a5ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "signal_names_list",
        "payload": "signal_names_list",
        "payloadType": "global",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "5e1892047a36f175"
            ]
        ]
    },
    {
        "id": "5e1892047a36f175",
        "type": "rbe",
        "z": "2889273e53d6a5ed",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "b97fb0e96feffb71"
            ]
        ]
    },
    {
        "id": "e67302bc0ad1d2a8",
        "type": "link out",
        "z": "2889273e53d6a5ed",
        "name": "signal configuration",
        "mode": "link",
        "links": [
            "d7b40ac277e5f727"
        ],
        "x": 575,
        "y": 360,
        "wires": []
    },
    {
        "id": "b97fb0e96feffb71",
        "type": "sort",
        "z": "2889273e53d6a5ed",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "e67302bc0ad1d2a8",
                "455b40f41b443d2c"
            ]
        ]
    },
    {
        "id": "5a21e62e1cbbd2c4",
        "type": "ui_table",
        "z": "2889273e53d6a5ed",
        "group": "04b87adf505a67f6",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "0e469af65d3930d5",
        "type": "function",
        "z": "2889273e53d6a5ed",
        "name": "data table",
        "func": "msg.payload = {\n    \"VIN\": msg.vin,\n    \"Signal\": msg.field,\n    \"Value\": msg.value\n    //timestamp?\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "5a21e62e1cbbd2c4"
            ]
        ]
    },
    {
        "id": "4ed496bdbfc34268",
        "type": "subflow:32b0ac61c667424c",
        "z": "2889273e53d6a5ed",
        "name": "",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "0e469af65d3930d5"
            ],
            []
        ]
    },
    {
        "id": "3114d42348ab6a92",
        "type": "file",
        "z": "2889273e53d6a5ed",
        "name": "",
        "filename": "/data/vss/signal_filter.cfg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 290,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "455b40f41b443d2c",
        "type": "function",
        "z": "2889273e53d6a5ed",
        "name": "join",
        "func": "msg.payload = msg.payload.join(\",\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 90,
        "y": 420,
        "wires": [
            [
                "3114d42348ab6a92"
            ]
        ]
    },
    {
        "id": "b7f422d49af26639",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 5,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Air Temperature",
        "label": "degrees",
        "format": "{{value}}",
        "min": "-20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "ead0071740eb34eb",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Current Speed",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "6000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "81d835ed5de68b9d",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 8,
        "width": "6",
        "height": "3",
        "gtype": "wave",
        "title": "Fuel Level",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "1962d05c53b3194e",
        "type": "ui_text",
        "z": "7e9fdc799c9dacda",
        "group": "110bee8780e3a7ad",
        "order": 10,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Total Engine Hours",
        "format": "{{msg.payload}} h",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "5d76169c79019f45",
        "type": "link in",
        "z": "7e9fdc799c9dacda",
        "name": "data source",
        "links": [
            "2c163ea721113b9c"
        ],
        "x": 55,
        "y": 80,
        "wires": [
            [
                "01b63d24ec6b8c94",
                "18527e9c1c8e2378",
                "7d5fb43b377a3519"
            ]
        ]
    },
    {
        "id": "9c20e25293e10dd5",
        "type": "debug",
        "z": "7e9fdc799c9dacda",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 20,
        "wires": []
    },
    {
        "id": "01b63d24ec6b8c94",
        "type": "subflow:d4b0bd7f01e6e982",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "env": [
            {
                "name": "signal_name",
                "value": "Vehicle.Exterior.AirTemperature",
                "type": "str"
            }
        ],
        "x": 230,
        "y": 80,
        "wires": [
            [],
            [
                "9c20e25293e10dd5",
                "6900c9c3c9e2074f"
            ]
        ]
    },
    {
        "id": "18527e9c1c8e2378",
        "type": "subflow:d4b0bd7f01e6e982",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "env": [
            {
                "name": "signal_name",
                "value": "Vehicle.Speed",
                "type": "str"
            }
        ],
        "x": 230,
        "y": 180,
        "wires": [
            [],
            [
                "9c20e25293e10dd5",
                "c782d3dc120b7e7c"
            ]
        ]
    },
    {
        "id": "7d5fb43b377a3519",
        "type": "subflow:d4b0bd7f01e6e982",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "env": [
            {
                "name": "signal_name",
                "value": "Vehicle.Powertrain.FuelSystem.Tank.First.RelativeLevel",
                "type": "str"
            }
        ],
        "x": 230,
        "y": 280,
        "wires": [
            [],
            [
                "9c20e25293e10dd5",
                "b8ae7479941b6af3"
            ]
        ]
    },
    {
        "id": "a325343f36d43d34",
        "type": "ui_list",
        "z": "7e9fdc799c9dacda",
        "group": "161c98944e5c5a4a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "d7b40ac277e5f727",
        "type": "link in",
        "z": "7e9fdc799c9dacda",
        "name": "config",
        "links": [
            "e67302bc0ad1d2a8"
        ],
        "x": 55,
        "y": 580,
        "wires": [
            [
                "a325343f36d43d34"
            ]
        ]
    },
    {
        "id": "b6c7df43a6a80bd5",
        "type": "ui_dropdown",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "label": "VIN",
        "tooltip": "",
        "place": "Select option",
        "group": "110bee8780e3a7ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "7e827c0cf79115c8"
            ]
        ]
    },
    {
        "id": "0d837ea88253009a",
        "type": "inject",
        "z": "7e9fdc799c9dacda",
        "name": "VIN list",
        "props": [
            {
                "p": "options",
                "v": "[\"YV2E4C3A5VB180691\",\"YV2E3C4A5VB421337\"]",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 100,
        "y": 660,
        "wires": [
            [
                "b6c7df43a6a80bd5"
            ]
        ]
    },
    {
        "id": "7e827c0cf79115c8",
        "type": "change",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected_vin",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "890779ea2ab521f8",
        "type": "change",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "options[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 720,
        "wires": [
            [
                "b6c7df43a6a80bd5"
            ]
        ]
    },
    {
        "id": "6fbab3ed38ef9153",
        "type": "switch",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "property": "selected_vin",
        "propertyType": "global",
        "rules": [
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 90,
        "y": 720,
        "wires": [
            [
                "890779ea2ab521f8"
            ]
        ]
    },
    {
        "id": "6900c9c3c9e2074f",
        "type": "subflow:84d8e7a18ece888f",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "b7f422d49af26639",
                "078b9517a0c2f40c"
            ]
        ]
    },
    {
        "id": "0c3a423fbaa78958",
        "type": "subflow:84d8e7a18ece888f",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "1962d05c53b3194e"
            ]
        ]
    },
    {
        "id": "b8ae7479941b6af3",
        "type": "subflow:84d8e7a18ece888f",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "81d835ed5de68b9d"
            ]
        ]
    },
    {
        "id": "c782d3dc120b7e7c",
        "type": "subflow:84d8e7a18ece888f",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "ead0071740eb34eb",
                "2a5edd99f6990383"
            ]
        ]
    },
    {
        "id": "b0b805afa9fe3147",
        "type": "comment",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "info": "Vehicle.Powertrain.CombustionEngine.DieselExhaustFluid.Level\n",
        "x": 80,
        "y": 480,
        "wires": []
    },
    {
        "id": "d3ab186bb0f5ae8e",
        "type": "comment",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "info": "Vehicle.Powertrain.CombustionEngine.EngineHours\n",
        "x": 80,
        "y": 420,
        "wires": []
    },
    {
        "id": "de36924a37a1de7a",
        "type": "ui_gauge",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 9,
        "width": "6",
        "height": "3",
        "gtype": "wave",
        "title": "AdBlue Level",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "e008107a8ee6b0e2",
        "type": "subflow:84d8e7a18ece888f",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "de36924a37a1de7a"
            ]
        ]
    },
    {
        "id": "2a5edd99f6990383",
        "type": "ui_chart",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "Speed History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "250",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "078b9517a0c2f40c",
        "type": "ui_chart",
        "z": "7e9fdc799c9dacda",
        "name": "",
        "group": "110bee8780e3a7ad",
        "order": 6,
        "width": "6",
        "height": "3",
        "label": "Air Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 120,
        "wires": [
            []
        ]
    }
]